.containerDiv{
    display: flex;
    width: 60%;

}
.a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 100;


}
.img {
    width: 200px;
    border-radius: 10px;
   
    height:  50px;
    margin-top: 10px;
    box-sizing: border-box;
}
@media  (max-width: 900px) {
    .containerDiv{
        display: none;

        
    }
   .a{
            color: #000;
        } 
    
}